body {
    overflow-x: hidden;
}
.letraSeguir{
    font-size: x-large;
}
.tamañoSecciones{
    padding: 5px 205px;
    border: 1px solid #000000;
    border-top: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

/* Pantalla tablet*/
@media (max-width: 991px) {
  .tamañoSecciones {
    padding: 5px 164px;
  }
}

/* Pantalla movil*/
@media (max-width: 767px) {
  .tamañoSecciones {
    padding: 5px 78px;
  }
}

/* Pantallas muy pequeñas (móviles, <576px) */
@media (max-width: 424px) {
  .tamañoSecciones {
    padding: 5px 66px;
  }
}